
<form method="POST" action="/new">
   label(for="user") Your Name: 
   input(type="text" name='user')
   label(for="message") Your Message: 
   input(type="text" name='message')
   button(type="submit") Send Message
</form>